.border-concept {
  background-color: #68a357;
  color: #f0edee;
}

.border-concept h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.border-concept p {
  font-size: 0.8rem;
}

#button-concept {
  background-color: #f0edee;
  width: 10rem;
  height: 2.5rem;
  color: #68a357;
  font-weight: bold;
  position: absolute;
}
#button-concept-2 {
  background-color: #f0edee;
  width: 8rem;
  height: 2rem;
  color: #68a357;
  font-weight: bold;
}

#button-concept-2:focus {
  background-color: #c97064;
  color: #f0edee;
  transition: 0.1s;
}

#button-concept:focus {
  background-color: #c97064;
  color: #f0edee;
  transition: 0.1s;
}
