@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


.bg-navbar{
  background-color: #F0EDEE;
}


/****************
** ACTION CARD **
****************/

.action-card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 0.75rem;
  background-color: #C97064;
  color: white;
  text-align: center;
  margin: 1rem auto;
}

.action-card-container-fait {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 0.75rem;
  background-color:#32965D;
  color: white;
  text-align: center;
  margin: 1rem auto;
}

details {
  width: 90%;
  position: relative;
  margin-top: 19px;
  margin-bottom: 18px;
  margin: 0 auto;
  display: flex;
}

details  summary {
  width: 100%;
  cursor: pointer;
  list-style: none;
  display: flex;
}

details::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -18px;
  background-color: var(--divider_light-blue);
}


/* hide the arrow by default */
details .hide {
  display: none;
}

/* manage arrow in the box when open */
details[open] .show {
  display: none;
}

details[open] .hide {
  display: block;
}

/* put the question in bold when open */
details[open]  H2 {
  font-weight: bold;
}

.action-card-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-card-description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.action-card-icon{
  color: white;
}
.action-card-point{
  width: 2rem;
  text-align: center;
  background-color: #32965D;
  border-radius: 0.2rem;
}*

.action-card-validate{
  width: 2rem;
  text-align: center;
  padding: 0.3rem;
  text-align: end;
  background-color: #32965D;
  border-radius: 0.2rem;
}
.action-card-titre{
  padding: 0 0.2rem;
}

.action-card-text{
  padding: 0 0.5rem;
}
.page-action-selecteur{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.action-select-checkbox{
  margin: 0 0.5rem;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.page-action-form{
  margin: 0 0.5rem;
}
.block {
  display: block;
}
.none{
  display: none;
}


.home-page {
  background-color: #32965d;
}

.bg-color-comparatif {
  background-color: #32965d;
  width: 100%;
}
.bg-profilCard {
  background-color: #68a357;
}

/* Couleurs et prorioétés images page profil WENDY */
.avatar {
  height: 200px;
  width: 200px;
}

.color-1 {
  color: #f0edee;
}

.color-2 {
  color: #c97064;
}

.color-3 {
  color: #68a357;
}

.color-4 {
  color: #32965d;
}

.backgroundcolor-3 {
  background-color: #68a357;
}

.backgroundcolor-4 {
  background-color: #32965d;
}

.bg-navbar {
  background-color: #f0edee;
}


