@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.bg-color-comparatif{
  background-color: #32965D;
  width: 100%;
}
.bg-profilCard{
  background-color: #68A357;
}

/* Couleurs et prorioétés images page profil WENDY */
.avatar {
  height: 100px;
  width: 100px;
}

.color-1 {
  color:#f0edee;
}

.color-2 {
  color:#C97064;
}

.color-3 {
  color:#68A357;
}

.color-4 {
  color:#32965D;
}
.backgroundcolor-4 {
  background-color:#32965D;
}


.bg-navbar{
  background-color: #F0EDEE;
}
.show-nav .menuWrapper ul {
  width: 100vw;
  right: 0;
}

.navbar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: blue;
}

.menuWrapper .active {
  width: 100%;
}
.navbar-burger:hover {
  cursor: pointer;
}
.bar,
.bar::before,
.bar::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  background-color: #32965D;
  transition: all 0.5s ease-in-out;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  left: 0;
}
.bar::before {
  transform: translateY(-12px);
}
.bar::after {
  transform: translateY(12px);
}
.show-nav .bar::before {
  transform: rotate(45deg);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
}
.show-nav .bar {
  width: 0;
  background: transparent;
  /*on cache la span du milieu quand show nav est true, pour avoir une croix */
}
.menuWrapper ul {
  position: fixed;
  z-index: 89;
  right: -100vw;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: purple;
  height: 100vh;
  text-align: center;
  transition: 0.6s;
}
.menuWrapper {
  background-color: yellow;
  width: 100%;
}

.menuWrapper ul {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  background-color: #32965D;
}
.menuWrapper li {
  background-color: #32965D;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 1.3rem;
}

.menuWrapper li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #32965D;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.menuWrapper li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
